*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.container{
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

.container::before, .container::after{
  display: table;
  content: "";
  clear: both;
}

.header{
  background-color: black;
}

.header h1{
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  width: 50%;
  float: left;
  padding: 15px 0;
}

.header h1 span{
  color: #27c7ab;
}

.header nav{
  width: 50%;
  float:left;
}

.main-menu{
  list-style-type: none;
  float:right;
}

.main-menu li{
  display: inline-block;
  position: relative;
}

.main-menu li a{
  display: block;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.sub-menu{
  display: none;
  position: absolute;
  background-color: black;
  top: 125%;
  z-index: 99;
}

.main-menu .has-children:hover .sub-menu{
  display: inline-block;
}

.triangle{
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid black;
  top: -20px;
  left: calc(50% - 10px);
}

#slider{
  background: linear-gradient(#fafafa, #d0cfd7);
  min-height: 300px;
  position: relative;
}

.slider-content{
  width: 100%;
  padding-right: 30px;
}
.half{
  width: 50%;
  float:left;
}

.slider-content h1{
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.slider-content h1 span{
  color: #27c7ab;
  font-size: 30px;
  text-transform: uppercase;
}

.slider-content h1{
  margin: 30px 0;
}

.slider-content article{
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
}

.button{
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 15px;
  background-color: #27c7ab;
  border-radius: 5px;
  line-height: 50px;
  cursor: pointer;
  margin: 30px auto;
}

.left, .right{
  border: none;
  background-image: none;
  background-color: transparent;
  font-size: 50px;
  color: #27c7ab;
  outline: 0;
}

.left{
  position: absolute;
  left: 80px;
  top: calc(50% - 20px);
}
.right{
  position: absolute;
  right: 80px;
  top: calc(50% - 20px);
}

.box1, .box2, .box3{
  width: 30%;
  border: 1px solid black;
  height: 200px;
  float:left;
  margin-top: 50px;
  margin-bottom: 50px;
}


.box1{
  background-image: url("../images/box1_img.jpg");
  padding-top: 130px;
  margin-right: 5%;
}
.box2{
  background-image: url("../images/box2_img.jpg");
  padding-top: 130px;
}

.box3{
  padding: 16px;
  margin-left: 5%;
}

.box3 p{
  font-size: 12px;
  padding: 14px 0;
}

.obar{
  background-color: rgba(255, 255, 255, 0.4);
  height: 50px;
  line-height: 50px;
}

#content span{
  border-bottom: 5px solid #27c7ab;
  width: 200px;
  padding-right: 20px;
}



#prices{
  background-color: lightgrey;
  padding-bottom: 70px;
}

#prices > .container > h1 > span{
  border-bottom: 5px solid #27c7ab;
  padding-right: calc(21% + 5px);
  display: inline-block;
  margin: 50px auto;
}

.boxv1{
  border:2px solid grey;
  width: 30%;
  float:left;
  position: relative;
  background-color: white;
  height: 490px;
}

.boxv2{
  border:1px solid #27c7ab;
  width: 30%;
  float:left;
  position: relative;
  height: 490px;
  background-color: #27c7ab;
}

#prices .container div:first-of-type{
  margin-right: 5%;
}
#prices .container div:last-of-type{
  margin-left: 5%;
}

.circle1{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid grey;
  position: absolute;
  left: calc(50% - 30px);
  top: -40px;
  z-index: 99;
  background-color: white;
}

.circle2{
  border-radius: 50%;
  border: 15px solid grey;
  width: 25px;
  height: 25px;
  z-index: 999;
  left: calc(50% - 15px);
  top: -25px;
  position: absolute;
}

#prices .boxv1 h1{
  display: table;
  margin: 30px auto;
  font-size: 20px;
  color: #27c7ab;
}

#prices .circle3{
  border: 1px solid grey;
  width: 120px;
  height: 120px;
  margin: 0 auto 30px auto !important;
  text-align: center;
  border-radius: 50%;
}

#prices .circle3 h3{
  font-size: 40px;
  margin: 20px 20px 0 20px;
  color: grey;
}

#prices .circle3 h3 span{
  font-size: 15px;
  vertical-align: top;
}

#prices .circle3 p {
  color: grey;
}

#prices .boxv1 > p:first-of-type, #prices .boxv1 > p:nth-of-type(3){
  width: 100%;
  background-color: grey;
  height: 45px;
  line-height: 45px;
  font-size: 25px;
  text-align: center;
}

#prices .boxv1 > p:nth-of-type(2), #prices .boxv1 > p:nth-of-type(4){
  width: 100%;
  background-color: lightgrey;
  height: 45px;
  line-height: 45px;
  font-size: 25px;
  text-align: center;
}

#prices > .container > div:first-of-type >p:nth-of-type(2){
  margin-bottom: 90px;
}

.button{
  text-transform: uppercase;
  width: 30%;
  height: 30px;
  line-height: 30px;
  margin: 25px 35% 0 35%;
  color: white;
  border:none;
}

#prices .boxv2 h1{
  display: table;
  margin: 30px auto;
  font-size: 20px;
  color: white;
}

#prices .boxv2 > .circle1{
  background-color: #27c7ab;
  border: 1px solid #27c7ab;
}

#prices > .container > .boxv2 > .circle2{
  border-color: white;
}

#prices .boxv2 .circle3{
  background-color: white;
    border-color: white;
}

#prices .boxv2 .circle3 h3, #prices .boxv2 .circle3 p {
  color: #27c7ab;
}

#prices > .container > .boxv2 > p:first-of-type, #prices > .container > .boxv2 > p:nth-of-type(3) {
  width: 100%;
  background-color: white;
  height: 45px;
  line-height: 45px;
  font-size: 25px;
  text-align: center;
}

#prices > .container > .boxv2 > p:nth-of-type(2) {
  width: 100%;
  background-color: lightgrey;
  height: 45px;
  line-height: 45px;
  font-size: 25px;
  text-align: center;
}

#prices > .container > .boxv2 > p:nth-of-type(3){
  margin-bottom: 45px;
}

#prices > .container > .boxv2 > .button{
  background-color: white;
  color: #27c7ab;
}

#contact{
  padding: 30px 0;
}
#contact h1 span {
  border-bottom: 5px solid #27c7ab;
  width: 200px;
  padding-right: 20%;
}

form{
  margin: 50px 0;
}

.leftform{
  width: 60%;
}

.rightform{
  width: 40%;
}

.leftform, .rightform{
  float:left;
  border: none;
  position: relative;
}

.leftform input{
  display: inline-block;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  border: 1px solid #27c7ab;
  padding: 10px;
  font-size: 20px;
}

.leftform textarea{
  display: inline-block;
  width: 100%;
  height: 190px;
  margin-bottom: 20px;
  border: 1px solid #27c7ab;
  padding: 10px;
  font-size: 20px;
}

.rightform{
  padding: 0 50px;
}

.rightform img{
  display: table;
  margin: 0 auto;
}

input[type="checkbox"]{
  display: none;
}

label{
  display: block;
  margin: 15px 0;
}

label > .left-site{
  width: 15%;
  height: 50px;
  float: left;
  border: 1px solid gray;
  margin-right: 5%;
}

label .right-site{
  width: 80%;
  float:left;
  line-height: 25px;
  color: gray;
}

input[type="checkbox"]:checked + .left-site{
  background-image: url("../images/form_ok.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid gray;
}

.rightform button{
  width: 100%;
  background-color: #27c7ab;
  border: none;
  height: 50px;
  color: white;
  font-size: 26px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 25px;
}

.fieldsets{
  margin-bottom: 500px;
}
footer{
  margin-bottom: 50px;
}
footer p{
  width: 60%;
  float:left;
  height: 40px;
  line-height: 40px;
  color: gray;
}
footer .icons{
  width: 40%;
  float:left;
  line-height: 40px;
}

.logo{
  float:right;
  color: gray;
}

.logo > span{
  font-weight: 600;
}
